@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Signika Negative', sans-serif;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo
{
  color: #2517ee;
  text-transform: uppercase;
  cursor: pointer;
  text-shadow:  2px 2px 5px rgb(233, 12, 12);
}

.toggle
{
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.8s;
  z-index: 2;
  text-align: center;
}
.showcase.active
{
  right: 300px;
}
.logo {
    font-size: 4em;
    margin-top: 8rem;
    
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #8f9092 ;
  mix-blend-mode: overlay;
}
.text
{
  position: relative;
  z-index: 10;
}

.text h2
{
  font-size: 2em;
  font-weight: 800;
  color: #1815eb;
  line-height: 1em;
  text-transform: uppercase;
  text-shadow:  2px 2px 5px rgb(233, 12, 12);
  
}
.text h3
{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p
{
  font-size: 1.2em;
  line-height: 50px;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;
}
.social
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}
nav ul ,
nav a,
nav a:visited {
  color: whitesmoke;
  text-decoration: none;
  list-style: none;
  padding: 0.2em;
}

nav a:hover,
nav a:focus {
  color: hsla(0, 0%, 5%, 0.6);
}
.parent-container{
  position: relative;
}


.buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 1000;
  font-size: 1.3rem;
  list-style: none;
  top: 25rem;
  gap: 1.2rem;
 }
 .bn5 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #061ce6;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
 .bn5:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bn5:active {
  color: #000;
}

.bn5:active:after {
  background: transparent;
}

.bn5:hover:before {
  opacity: 1;
}

.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #2a06f5;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover
{
  color: #03a9f4; 
}
.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  z-index: 1000;
}

@media screen and (min-width: 481px) {
  .logo
  {
    padding-bottom: 15rem;
    font-size: 40px;
  }
  .bn5 {
    padding: 0.6em 0.6em;
    background-size: 200%;
    font-size: small;
    display: grid;
    color: #061ce6;
    background-color: #061ce6;
    
}
.text h2{
  margin-top: 5rem;
  font-size: 30px;
}

}

@media screen and (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
 
  
  .text h3
  {
    font-size: 2em;
  }
  .bn5 {
    padding: 0.6em 0.6em;
    background-size: 200%;
    font-size: small;
    display: grid;
    color: #061ce6;
    background-color: #061ce6;
    
}
}
@media screen and (min-width: 992px) {
  .logo{
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .bn5 {
    padding: 0.6em 2em;
    font-size: large;
  } 
}

@media screen and (min-width: 1200px) {
  .logo {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    margin-top: 8rem;
  }
  .bn5 {
    padding: 0.6em 2em;
    font-size: 20px;
    display: flex;
    background-color: #061ce6;
  }
  .text h2 {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 25rem;
  }
}

@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
  .logo{
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .bn5 {
    padding: 0.6em 2em;
    font-size: large;
  }
}



